<h1>Create a new user profile</h1>
<%= form_with url: "/users/#{@user.id}", method: :post, local: true do |form| %>
  <%= form.label :username %>
  <%= form.text_field :username %>
  <%= form.label :email %>
  <%= form.text_field :email %>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation %>
  <%= form.submit "Create Profile" %>
  <% end %>